.product-card {
  border: 1px solid #e0e0e0;
  padding: 20px;
  text-align: center;
  height: fit-content;
  background-color: #fff;
  overflow: hidden;
  margin: 10px;
  flex: 1 1 250px;
}

@media (max-width: 768px) {
  .product-card {
    flex-basis: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .product-card {
    flex-basis: 100%;
  }
}

.product-card img {
  max-width: 200px;
  object-fit: contain;
  margin: 0 auto;
}

.product-card:hover {
  background-color: #fafafa;
}

.product-card h3 {
  margin: 10px 0;
  font-size: 1.1em;
  color: #333;
  text-align: left;
}
hr {
  border: 1px solid #e0e0e0;
  margin: 10px 0;
}
.product-card p {
  margin: 10px 0;
  font-size: 0.9em;
  color: #999;
  text-align: left;
}

.product-card .category {
  margin: 5px 0;
  font-size: 0.9em;
  color: #4caf50;
  text-align: left;
}

.product-card .price {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #4caf50;
  font-weight: bold;
  margin-top: 10px;
}

.product-card .price .cost {
  font-size: 20px;
  color: black;
  font-weight: bold;
}

.product-card .rating {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  align-content: center;
  justify-content: space-between;
  margin-top: 10px;
  color: #ff9800;
}
